@using Hik.DTO.Config;
@model DeviceConfig

<div class="form-group">
    <label asp-for="@Model.IpAddress" class="control-label"></label>
    <input asp-for="@Model.IpAddress" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="@Model.PortNumber" class="control-label"></label>
    <input asp-for="@Model.PortNumber" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="@Model.UserName" class="control-label"></label>
    <input asp-for="@Model.UserName" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="@Model.Password" class="control-label"></label>
    <input asp-for="@Model.Password" class="form-control" />
</div>