@using Hik.Client.Helpers
@model List<Hik.DataAccess.Data.MediaFile>

<h2>Files</h2>
<table class="table table-bordered table-sm" aria-label="Files">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Name)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Date)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Duration)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Size)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().DownloadDuration.Started)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().DownloadDuration.Duration)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string size = item.Size.FormatBytes();
            string duration = item.Duration.FormatSeconds();
            string downloaded = (item.DownloadDuration?.Duration).FormatSeconds();
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                <td>@duration</td>
                <td>@size</td>
                <td>@Html.DisplayFor(modelItem => item.DownloadDuration.Started)</td>
                <td>@downloaded</td>
            </tr>
        }
    </tbody>
</table>