
@model List<Hik.DataAccess.Data.MediaFile>

<h2>Files</h2>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model[0].Name)</th>
            <th>@Html.DisplayNameFor(model => model[0].Date)</th>
            <th>@Html.DisplayNameFor(model => model[0].Duration)</th>
            <th>@Html.DisplayNameFor(model => model[0].Size)</th>
            <th>@Html.DisplayNameFor(model => model[0].DownloadStartTime)</th>
            <th>@Html.DisplayNameFor(model => model[0].DownloadStopTime)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string videoSize = Hik.Client.Helpers.Utils.FormatBytes(item.Size);
            string videoduration = Hik.Client.Helpers.Utils.FormatSeconds(item.Duration);
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                <td>@videoduration</td>
                <td>@videoSize</td>
                <td>@Html.DisplayFor(modelItem => item.DownloadStartTime)</td>
                <td>@Html.DisplayFor(modelItem => item.DownloadStopTime)</td>
            </tr>
        }
    </tbody>
</table>