
@model List<Hik.DataAccess.Data.MediaFile>

<h2>Files</h2>
<table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model[0].Name)</th>
            <th>@Html.DisplayNameFor(model => model[0].Date)</th>
            <th>@Html.DisplayNameFor(model => model[0].Duration)</th>
            <th>@Html.DisplayNameFor(model => model[0].Size)</th>
            <th>@Html.DisplayNameFor(model => model[0].DownloadDuration.Started)</th>
            <th>@Html.DisplayNameFor(model => model[0].DownloadDuration.Duration)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string size = Hik.Client.Helpers.Utils.FormatBytes(item.Size);
            string duration = Hik.Client.Helpers.Utils.FormatSeconds(item.Duration);
            string downloaded = Hik.Client.Helpers.Utils.FormatSeconds(item.DownloadDuration?.Duration);
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                <td>@duration</td>
                <td>@size</td>
                <td>@Html.DisplayFor(modelItem => item.DownloadDuration.Started)</td>
                <td>@downloaded</td>
            </tr>
        }
    </tbody>
</table>