@using Hik.Web.Pages.Shared
@model PagerControl

@if (Model != null && Model.Pages.Any())
{
    <nav class="table-responsive">
        <ul class="pagination justify-content-center d-flex flex-wrap">

            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Model.FormattedUrl">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="@Model.FormattedUrl&p=@(Model.CurrentPage - 1)">Previous</a>
                </li>
            }

            @foreach (var p in Model.Pages)
            {
                <li class="page-item @(p == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Model.FormattedUrl&p=@p">@p</a>
                </li>
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="@Model.FormattedUrl&p=@(Model.CurrentPage + 1)">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="@Model.FormattedUrl&p=@(Model.TotalPages)">Last</a>
                </li>
            }
        </ul>
    </nav>
}