@using Hik.Client.Helpers
@using Hik.DTO
@using Hik.DTO.Contracts
@model List<MediaFileDto>


<div class="popup">
  <!-- top bar -->
  <div class="top-bar">
    <p class="image-name"></p>
    <span class="close-btn"></span>
  </div>
  <!-- arrows -->
  <button class="arrow-btn left-arrow">
    <img src="/arrow.png" alt="" />
  </button>
  <button class="arrow-btn right-arrow">
    <img src="/arrow.png" alt="" />
  </button>
  <!-- image -->
  <img src="" class="large-image" alt="" />
  <!-- image-index -->
  <h1 class="index">01</h1>
</div>


  @foreach (var eventId in Model.GroupBy(x => x.EventId ?? ""))
  {
    <div class="row">
        <div class="card-body text-center">
            <h4 title="@eventId.Key" class="card-title">@MediaFileDto.EventDate(eventId.Key)</h4>
        </div>
    </div>
    <ul class="thumbnails">
        @foreach (var photo in eventId)
        {
            <li class="item">
                <img alt="@Url.Content($"/Search?fileId={@photo?.Id}&handler=Image")"
                     name="@Html.DisplayFor(x=> photo.Date) (@photo.Objects)"
                     src="@Url.Content($"/Search?fileId={@photo?.Id}&handler=ImageThumbnail")"
                     class="thumbnail-border" />
                <span class="image-overlay">@Html.DisplayFor(x => photo.Date)</span>
            </li>
        }
    </ul>
  }

