@page
@model Hik.Web.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

@if (Model.Triggers != null && Model.Triggers.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Triggers.FirstOrDefault().TriggerKey)</th>
                <th>@Html.DisplayNameFor(model => model.Triggers.FirstOrDefault().LastSync)</th>
                <th>@Html.DisplayNameFor(model => model.Triggers.FirstOrDefault().LastSync)</th>
                <th>Files</th>
                <th>Size</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Triggers.OrderBy(x => x.TriggerKey))
            {
                var statSize = Model.Statistics.FirstOrDefault(x => x.JobTriggerId == item.Id)?.FilesSize ?? 0;
                var statDuration = Model.Statistics.FirstOrDefault(x => x.JobTriggerId == item.Id)?.TotalDuration ?? 0;
                string size = Hik.Client.Helpers.Utils.FormatBytes(statSize);
                string dur = Hik.Client.Helpers.Utils.FormatSeconds((double)statDuration);
                string triggerString = item.ToString();
                var dateFormat = item.LastSync == item.LastSync?.Date ? "yyyy-MM-dd" : "yyyy-MM-dd HH:mm:ss";
                string relativeFinishedDate = Hik.Client.Helpers.Utils.GetRelativeTime(item.LastSync);
                <tr>
                    <td><a asp-page="./Statistic" asp-route-triggerId="@item.Id">@triggerString</a></td>
                    <td>@item.LastSync?.ToString(dateFormat)</td>
                    <td>@relativeFinishedDate</td>
                    <td>@Html.DisplayFor(modelItem => Model.Statistics.FirstOrDefault(x => x.JobTriggerId == item.Id).FilesCount)</td>
                    <td>@size</td>
                    <td>@dur</td>
                </tr>
            }
        </tbody>
    </table>
}