@page
@using Hik.Client.Helpers
@model Hik.Web.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

@if (Model.JobTriggers != null && Model.JobTriggers.Any())
{
    @foreach (var key in Model.JobTriggers.Keys.OrderBy(x => x))
    {
     var jobType = Model.JobTriggers[key];
     @if(jobType != null && jobType.Any())
     {
             var row = jobType.OrderBy(x => x.TriggerKey).ToList();
             <div class="row">
                 <div class="card-body text-center">
                     <h4 class="card-title">@Html.DisplayFor(x => key)</h4>
                 </div>
             </div>
             <div class="row">
                 <table class="table table-striped table-bordered table-sm" width="100%">
                     <thead>
                         <tr>
                             <th>@Html.DisplayNameFor(model => row.FirstOrDefault().TriggerKey)</th>
                             <th>Last Job</th>
                             <th>Last File</th>
                             <th>Delta</th>
                             <th>Files</th>
                             <th>Size</th>
                             <th>Duration</th>
                         </tr>
                     </thead>
                     <tbody>
                         @foreach (var item in row)
                         {
                             long statSize = Model.Statistics.FirstOrDefault(x => x.JobTriggerId == item.Id)?.FilesSize ?? 0;
                             int statDuration = Model.Statistics.FirstOrDefault(x => x.JobTriggerId == item.Id)?.TotalDuration ?? 0;
                             string size = statSize.FormatBytes();
                             string dur = ((double)statDuration).FormatSeconds();
                             string triggerString = item.ToString();
                             var latestFile = Model.LatestFiles.FirstOrDefault(x => x.Key == item.Id).Value;
                             var delta = (item.LastSync ?? DateTime.Now) - latestFile;
                             <tr>
                                 <td><a asp-page="./Statistic" asp-route-triggerId="@item.Id">@triggerString</a></td>
                                 <td><span title="@item.LastSync?.GetRelativeTime()">@item.LastSync?.GetString()</span></td>
                                 <td><span title="@latestFile.GetRelativeTime()">@latestFile.GetString()</span></td>
                                 <td>@delta.GetRelativeTime()</td>
                                 <td>@Html.DisplayFor(modelItem => Model.Statistics.FirstOrDefault(x => x.JobTriggerId == item.Id).FilesCount)</td>
                                 <td>@size</td>
                                 <td>@dur</td>
                             </tr>
                         }
                     </tbody>
                 </table>
             </div>
         }
     }
}