@page
@model Hik.Web.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

@if (Model.Cameras != null && Model.Cameras.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Cameras.FirstOrDefault().Alias)</th>
                <th>@Html.DisplayNameFor(model => model.Cameras.FirstOrDefault().LastVideoSync)</th>
                <th>@Html.DisplayNameFor(model => model.Cameras.FirstOrDefault().LastPhotoSync)</th>
                <th>Latest video</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cameras)
            {
                <tr>
                    <td><a asp-page="./Statistic" asp-route-cameraId="@item.Id">@Html.DisplayFor(modelItem => item.Alias)</a></td>
                    <td>@Html.DisplayFor(modelItem => item.LastVideoSync)</td>
                    <td>@Html.DisplayFor(modelItem => item.LastPhotoSync)</td>
                    <td>@Html.DisplayFor(modelItem => Model.Videos.FirstOrDefault(x => x.CameraId == item.Id).StopTime)</td>
                </tr>
            }
        </tbody>
    </table>
}