@page
@using Hik.Client.Helpers
@model Hik.Web.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

@if (Model.JobTriggers != null && Model.JobTriggers.Any())
{
    @foreach (var className in Model.JobTriggers.Keys.OrderBy(x => x))
    {
     var jobType = Model.JobTriggers[className];
     @if(jobType != null && jobType.Any())
     {
             var jobTriggers = jobType.OrderBy(x => x.Name).ToList();
             <div class="row">
                 <div class="card-body text-center">
                     <h4 class="card-title">@Html.DisplayFor(x => className)</h4>
                 </div>
             </div>
             <div class="row">
                 <table class="table table-bordered table-sm" aria-label="Dashboard">
                     <thead>
                         <tr>
                             <th>@Html.DisplayNameFor(model => jobTriggers.FirstOrDefault().Name)</th>
                             <th>Last Job</th>
                             <th>Last File</th>
                             <th>Delta</th>
                             <th>Files</th>
                             <th>Size</th>
                             <th>Duration</th>
                         </tr>
                     </thead>
                     <tbody>
                         @foreach (var jobTrigger in jobTriggers)
                         {
                             long statSize = Model.Dto.Items.FirstOrDefault(x => x.JobTriggerId == jobTrigger.JobTriggerId)?.FilesSize ?? 0;
                             int statDuration = Model.Dto.Items.FirstOrDefault(x => x.JobTriggerId == jobTrigger.JobTriggerId)?.TotalDuration ?? 0;
                             string size = statSize.FormatBytes();
                             string duration = ((double)statDuration).FormatSeconds();
                             string triggerString = jobTrigger.ToString();
                             var latestFile = new DateTime();
                             @if(Model.Dto.Files.ContainsKey(jobTrigger.JobTriggerId))
                             {
                                 latestFile = Model.Dto.Files[jobTrigger.JobTriggerId];
                             }

                            var lastFileDelta = (jobTrigger.LastSync ?? DateTime.Now) - latestFile;
                            var lastSyncDelta = DateTime.Now - (jobTrigger.LastSync ?? new DateTime());
                            var success = (lastFileDelta.TotalHours < 2 && lastSyncDelta.TotalHours < 2)
                                       || (className == "Job.Impl.GarbageCollectorJob, Job" && lastSyncDelta.TotalHours < 24);
                            var status = success ? "" : "failed";
                            <tr data-status="@status" class="failed">
                                <td><a asp-page="./DashboardDetails" asp-route-triggerId="@jobTrigger.JobTriggerId">@triggerString</a></td>
                                <td><span title="@jobTrigger.LastSync?.GetRelativeTime()">@jobTrigger.LastSync?.GetString()</span></td>
                                <td><span title="@latestFile.GetRelativeTime()">@latestFile.GetString()</span></td>
                                <td>@lastFileDelta.GetRelativeTime()</td>
                                <td>@Html.DisplayFor(modelItem => Model.Dto.Items.FirstOrDefault(x => x.JobTriggerId == jobTrigger.JobTriggerId).FilesCount)</td>
                                <td>@size</td>
                                <td>@duration</td>
                            </tr>
                         }
                     </tbody>
                 </table>
             </div>
         }
     }
}