@page
@using Hik.Client.Helpers
@model Hik.Web.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

@if (Model.JobTriggers != null && Model.JobTriggers.Any())
{
    @foreach (var key in Model.JobTriggers.Keys.OrderBy(x => x))
    {
     var jobType = Model.JobTriggers[key];
     @if(jobType != null && jobType.Any())
     {
             var row = jobType.OrderBy(x => x.TriggerKey).ToList();
             <div class="row">
                 <div class="card-body text-center">
                     <h4 class="card-title">@Html.DisplayFor(x => key)</h4>
                 </div>
             </div>
             <div class="row">
                 <table class="table table-bordered table-sm" summary="Dashboard" width="100%">
                     <thead>
                         <tr>
                             <th>@Html.DisplayNameFor(model => row.FirstOrDefault().TriggerKey)</th>
                             <th>Last Job</th>
                             <th>Last File</th>
                             <th>Delta</th>
                             <th>Files</th>
                             <th>Size</th>
                             <th>Duration</th>
                         </tr>
                     </thead>
                     <tbody>
                         @foreach (var jobTrigger in row)
                         {
                             long statSize = Model.Statistics.FirstOrDefault(x => x.JobTriggerId == jobTrigger.Id)?.FilesSize ?? 0;
                             int statDuration = Model.Statistics.FirstOrDefault(x => x.JobTriggerId == jobTrigger.Id)?.TotalDuration ?? 0;
                             string size = statSize.FormatBytes();
                             string duration = ((double)statDuration).FormatSeconds();
                             string triggerString = jobTrigger.ToString();
                             var latestFile = new DateTime();
                             @if(Model.LatestFiles.ContainsKey(jobTrigger.Id))
                             {
                                 latestFile = Model.LatestFiles[jobTrigger.Id];
                             }

                            var lastFileDelta = (jobTrigger.LastSync ?? DateTime.Now) - latestFile;
                            var lastSyncDelta = DateTime.Now - (jobTrigger.LastSync ?? new DateTime());
                            var success = (lastFileDelta.TotalHours < 2 && lastSyncDelta.TotalHours < 2) || key == "Job.Impl.GarbageCollectorJob, Job";
                            <tr data-status="@success" class="failed">
                                <td><a asp-page="./Statistic" asp-route-triggerId="@jobTrigger.Id">@triggerString</a></td>
                                <td><span title="@jobTrigger.LastSync?.GetRelativeTime()">@jobTrigger.LastSync?.GetString()</span></td>
                                <td><span title="@latestFile.GetRelativeTime()">@latestFile.GetString()</span></td>
                                <td>@lastFileDelta.GetRelativeTime()</td>
                                <td>@Html.DisplayFor(modelItem => Model.Statistics.FirstOrDefault(x => x.JobTriggerId == jobTrigger.Id).FilesCount)</td>
                                <td>@size</td>
                                <td>@duration</td>
                            </tr>
                         }
                     </tbody>
                 </table>
             </div>
         }
     }
}