@page
@using Hik.Client.Helpers
@model Hik.Web.Pages.IndexModel
@{ViewData["Title"] = "Home";}

<h3>@Model.ResponseMsg</h3>

<div class="row">
    <div class="col-lg-12 my-3">
        <div class="pull-right">
            <div class="btn-group">
                <button id="cardsBtn" class="bootn" onclick="showCard()">Cards</button>
                <button id="tableBtn" class="bootn active" onclick="showTable()">Table</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    @if(Model.TriggersDtos != null && Model.TriggersDtos.Any())
    {
      @foreach (var key in Model.TriggersDtos.Keys.OrderBy(x => x))
      {
          var row = Model.TriggersDtos[key];
          <div class="row">
              <div class="card-body text-center">
                  <h4 class="card-title">@Html.DisplayFor(x => key)</h4>
              </div>
          </div>
          <div class="row">
              <table class="table table-bordered table-sm" width="100%">
                  <thead>
                      <tr>
                          <th>Cron</th>
                          <th>Title</th>
                          <th>@Html.DisplayNameFor(model => row.FirstOrDefault().Next)</th>
                          <th>@Html.DisplayNameFor(model => row.FirstOrDefault().ConfigPath)</th>
                          <th>@Html.DisplayNameFor(model => row.FirstOrDefault().LastSync)</th>
                          <th>@Html.DisplayNameFor(model => row.FirstOrDefault().LastJobPeriodStart)</th>
                          <th>@Html.DisplayNameFor(model => row.FirstOrDefault().LastJobPeriodEnd)</th>
                          <th>@Html.DisplayNameFor(model => row.FirstOrDefault().LastJobFilesCount)</th>
                          <th>Started</th>
                          <th>Finished</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      @foreach (var item in row)
                      {
                          string started = item.LastJobStarted.GetRelativeTime();
                          string finished = item.LastJobFinished.GetRelativeTime();
                          string lastSync = item.LastSync.GetRelativeTime();
                          string from = item.LastJobPeriodStart.GetRelativeTime();
                          string to = item.LastJobPeriodEnd.GetRelativeTime();

                          <tr data-status="@item.Success" class="failed">
                              <td><span title="@item.CronSummary">@item.CronString</span></td>
                              <td><a asp-page="./Job" asp-route-jobTriggerId="@item.JobTriggerId">@item.Name</a></td>
                              <td>@Html.DisplayFor(x => item.Next)</td>
                              <td>@Html.DisplayFor(x => item.ConfigPath)</td>
                              <td><span title="@lastSync">@item.LastSync.GetString()</span></td>
                              <td><span title="@from">@Html.DisplayFor(x => item.LastJobPeriodStart)</span></td>
                              <td><span title="@to">@Html.DisplayFor(x => item.LastJobPeriodEnd)</span></td>
                              <td>@Html.DisplayFor(x => item.LastJobFilesCount)</td>
                              <td><a asp-page="./Details" asp-route-id="@item.JobId">@started</a></td>
                              <td>@finished</td>
                              <td>
                                  @if (item.ActivityId == null)
                                  {
                                      <form method="POST">
                                          <input type="submit" class="btn btn-primary" asp-page-handler="Run" asp-route-group="@item.Group" asp-route-name="@item.Name" value="Start" />
                                      </form>
                                  }
                                  else
                                  {
                                      <form method="POST">
                                          <input type="submit" class="btn btn-primary" asp-page-handler="Kill" asp-route-activityId="@item.ActivityId" value="@item.ProcessId" />
                                      </form>
                                  }
                              </td>
                          </tr>
                      }
                  </tbody>
              </table>

              @foreach (var item in row)
              {
                  string started = item.LastJobStarted.GetRelativeTime();
                  string finished = item.LastJobFinished.GetRelativeTime();
                  string lastSync = item.LastSync.GetRelativeTime();
                  string from = item.LastJobPeriodStart.GetRelativeTime();
                  string to = item.LastJobPeriodEnd.GetRelativeTime();
                  string color = item.Success && item.ActivityId == null ? "text-white tri-success" : item.ActivityId == null ? "text-white tri-error" : "text-black tri-info";

                  <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                      <div class="card @color" style="margin-bottom: 10px;">
                          <div class="card-body text-center">
                              <h4 class="card-title"><a asp-page="./Job" asp-route-jobTriggerId="@item.JobTriggerId">@item.Name</a></h4>
                          </div>
                          <ul class=" ">
                              <li><span title="@item.CronSummary">@item.CronString</span></li>
                              <li>Next - @Html.DisplayFor(x => item.Next)</li>
                              <li>@Html.DisplayFor(x => item.ConfigPath)</li>
                              <li><span title="@lastSync">Sync -  @Html.DisplayFor(x => item.LastSync)</span></li>
                              <li><span title="@from">From -  @Html.DisplayFor(x => item.LastJobPeriodStart)</span></li>
                              <li><span title="@to">To -    @Html.DisplayFor(x => item.LastJobPeriodEnd)</span></li>
                              <li>Files - @Html.DisplayFor(x => item.LastJobFilesCount)</li>
                              <li><a asp-page="./Details" asp-route-id="@item.JobId">Started - @started</a></li>
                              <li>Finished - @finished</li>
                          </ul>
                          <div class="card-body text-center">
                              <div>
                                  @if (item.ActivityId == null)
                                  {
                                      <form method="POST">
                                          <input type="submit" class="btn btn-primary" asp-page-handler="Run" asp-route-group="@item.Group" asp-route-name="@item.Name" value="Start" />
                                      </form>
                                  }
                                  else
                                  {
                                      <form method="POST">
                                          <input type="submit" class="btn btn-primary" asp-page-handler="Kill" asp-route-activityId="@item.ActivityId" value="@item.ProcessId" />
                                      </form>
                                  }
                              </div>
                          </div>
                      </div>
                  </div>
              }
          </div>
      }
    }
</div>

@section Scripts
{
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            showCard();
        });

        function showTable() {

            var x = document.getElementsByClassName("table");
            var i;
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "table";
            }

            x = document.getElementsByClassName("card");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            var btn = document.getElementById("tableBtn");
            btn.className = "bootn active";
            btn = document.getElementById("cardsBtn");
            btn.className = "bootn";
        }

        function showCard() {

            var x = document.getElementsByClassName("table");
            var i;
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }

            x = document.getElementsByClassName("card");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "block";
            }

            var btn = document.getElementById("tableBtn");
            btn.className = "bootn";
            btn = document.getElementById("cardsBtn");
            btn.className = "bootn active";
        }
    </script>
}
