@page
@model Hik.Web.Pages.SchedulerModel
@{ViewData["Title"] = "Scheduler";}

@if (!string.IsNullOrEmpty(@Model.ResponseMsg))
{
    <div class="row">
        <div class="card-body text-center">
            <h3>@Model.ResponseMsg</h3>
        </div>
    </div>
}

<div class="row">
    <div class="col-lg-12 my-3">
        <div class="pull-right">
            <div class="btn-group">
                <form method="POST">
                    <input type="submit" class="btn btn-primary" asp-page-handler="KillAll" value="Kill All" />
                </form>
                <form method="POST">
                    <input type="submit" class="btn btn-primary" asp-page-handler="Restart" value="Restart" />
                </form>
                <a class="btn btn-primary" role="button" href="@Url.Page("CronEdit", "AddNew")">New</a>
            </div>
        </div>
    </div>
</div>

@if (Model.Dto != null && Model.Dto.Items.Any())
{
    <table class="table table-bordered table-sm" aria-label="Jobs">
        <thead>
            <tr>
                <th>Cron</th>
                <th>Group</th>
                <th>Name</th>
                <th>Description</th>
                <th>Class</th>
                <th>Config</th>
                <th>As Task</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cron in Model.Dto.Items)
            {
            <tr>
                <td><span title="@cron.ExpressionString">@cron.Expression</span></td>
                <td>@cron.Group</td>
                <td>@cron.Name</td>
                <td>@cron.Description</td>
                <td>@cron.ClassName</td>
                <td><a asp-page="./ConfigEdit" asp-route-name="@cron.Name" asp-route-group="@cron.Group">@cron.ConfigPath</a></td>
                <td>@cron.RunAsTask</td>
                <td><a asp-page="./CronEdit" asp-route-name="@cron.Name" asp-route-group="@cron.Group">Edit</a></td>
                <td>
                    <form method="POST">
                        <input type="submit" class="btn btn-primary" asp-page="/Index" asp-page-handler="Run" asp-route-group="@cron.Group" asp-route-name="@cron.Name" value="Start" />
                     </form>
                </td>
                <td>
                    <form method="POST">
                        <input type="submit" class="btn btn-primary" asp-page-handler="Delete" value="Delete" asp-route-group="@cron.Group" asp-route-name="@cron.Name" asp-route-classname="@cron.ClassName" />
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
}