@page
@model Hik.Web.Pages.SchedulerModel

<div class="row">
    <div class="col-lg-12 my-3">
        <div class="pull-right">
            <div class="btn-group">
                <form method="POST">
                    <input type="submit" class="btn btn-primary" asp-page-handler="KillAll" value="Kill All" />
                </form>
                <form method="POST">
                    <input type="submit" class="btn btn-primary" asp-page-handler="Restart" value="Restart" />
                </form>
                <form method="GET">
                    <input type="submit" class="btn btn-primary" asp-page="./CronAdd" value="New" />
                </form>
            </div>
        </div>
    </div>
</div>

@if (Model.Crons != null && Model.Crons.Any())
{
    <table class="table table-bordered table-sm" width="100%">
        <thead>
            <tr>
                <th>Cron</th>
                <th>Group</th>
                <th>Name</th>
                <th>Description</th>
                <th>Job</th>
                <th>Config</th>
                <th>AsTask</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cron in Model.Crons)
            {
            <tr>
                <td><span title="@cron.CronDescription">@cron.Cronexpression</span></td>
                <td>@cron.Group</td>
                <td>@cron.Name</td>
                <td>@cron.Description</td>
                <td>@cron.Job</td>
                <td>@cron.ConfigPath</td>
                <td>@cron.RunAsTask</td>
                <td><a asp-page="./CronEdit" asp-route-name="@cron.Name" asp-route-group="@cron.Group">Edit</a></td>
            </tr>
            }
        </tbody>
    </table>

}