@page
@model Hik.Web.Pages.StatisticModel

@{ViewData["Title"] = Model.Trigger;}

<h2>@Model.Trigger</h2>
<button onclick="javascript:history.back()">Go Back</button>
@if(Model.Statistics != null && Model.Statistics.Any())
{
<table class="table table-bordered table-sm" width="100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Statistics.FirstOrDefault().Period)</th>
            <th>@Html.DisplayNameFor(model => model.Statistics.FirstOrDefault().FilesCount)</th>
            <th>@Html.DisplayNameFor(model => model.Statistics.FirstOrDefault().FilesSize)</th>
            <th>@Html.DisplayNameFor(model => model.Statistics.FirstOrDefault().TotalDuration)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Statistics)
        {
            string size = Hik.Client.Helpers.Utils.FormatBytes(item.FilesSize);
            string dur = Hik.Client.Helpers.Utils.FormatSeconds((double)(item.TotalDuration ?? 0));

        <tr>
            <td>@Html.DisplayFor(modelItem => item.Period)</td>
            <td>@Html.DisplayFor(modelItem => item.FilesCount)</td>
            <td>@size</td>
            <td>@dur</td>
        </tr>
        }
    </tbody>
</table>
}

<!-- pager -->
@if (Model.Pager.Pages.Any())
{
<nav class="table-responsive">
    <ul class="pagination justify-content-center d-flex flex-wrap">
        @if (Model.Pager.CurrentPage > 1)
         {
          <li class="page-item">
              <a class="page-link" href="?triggerId=@Model.Trigger.Id&p=1">First</a>
          </li>
          <li class="page-item">
              <a class="page-link" href="?triggerId=@Model.Trigger.Id&p=@(Model.Pager.CurrentPage - 1)">Previous</a>
          </li>
         }

        @foreach (var p in Model.Pager.Pages)
         {
          <li class="page-item @(p == Model.Pager.CurrentPage ? "active" : "")">
              <a class="page-link" href="?triggerId=@Model.Trigger.Id&p=@p">@p</a>
          </li>
         }

        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
         {
          <li class="page-item">
              <a class="page-link" href="?triggerId=@Model.Trigger.Id&p=@(Model.Pager.CurrentPage + 1)">Next</a>
          </li>
          <li class="page-item">
              <a class="page-link" href="?triggerId=@Model.Trigger.Id&p=@(Model.Pager.TotalPages)">Last</a>
          </li>
         }
    </ul>
</nav>
}
