@page
@model Hik.Web.Pages.StatisticModel

@{ViewData["Title"] = Model.Camera.Alias;}

<h2>@Model.Camera.Alias</h2>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Statistics[0].Period)</th>
            <th>@Html.DisplayNameFor(model => model.Statistics[0].PhotosCount)</th>
            <th>@Html.DisplayNameFor(model => model.Statistics[0].PhotosSize)</th>
            <th>@Html.DisplayNameFor(model => model.Statistics[0].VideosCount)</th>
            <th>@Html.DisplayNameFor(model => model.Statistics[0].VideosSize)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Statistics)
        {
           string GbVideoSize = Hik.Client.Helpers.Utils.FormatBytes(item.VideosSize);
           string MbPhotoSize = Hik.Client.Helpers.Utils.FormatBytes(item.PhotosSize);
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Period)</td>
            <td>@Html.DisplayFor(modelItem => item.PhotosCount)</td>
            <td>@MbPhotoSize</td>
            <td>@Html.DisplayFor(modelItem => item.VideosCount)</td>
            <td>@GbVideoSize</td>
        </tr>
        }
    </tbody>
</table>

<!-- pager -->
@if (Model.Pager.Pages.Any())
{
<nav class="table-responsive">
    <ul class="pagination justify-content-center d-flex flex-wrap">
        @if (Model.Pager.CurrentPage > 1)
         {
          <li class="page-item">
              <a class="page-link" href="/">First</a>
          </li>
          <li class="page-item">
              <a class="page-link" href="/?p=@(Model.Pager.CurrentPage - 1)">Previous</a>
          </li>
         }

        @foreach (var p in Model.Pager.Pages)
         {
          <li class="page-item @(p == Model.Pager.CurrentPage ? "active" : "")">
              <a class="page-link" href="/?p=@p">@p</a>
          </li>
         }

        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
         {
          <li class="page-item">
              <a class="page-link" href="/?p=@(Model.Pager.CurrentPage + 1)">Next</a>
          </li>
          <li class="page-item">
              <a class="page-link" href="/?p=@(Model.Pager.TotalPages)">Last</a>
          </li>
         }
    </ul>
</nav>
}
